@reference "../../index.css";

.chat-list-item {
  @apply focus:outline-none items-center flex w-full rounded-xl absolute overflow-hidden select-none min-h-18 max-h-18;
  /* ps-4 pe-3 h-18 */
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-block: 0.5625rem;
  padding-inline: 1rem 0.75rem;
  padding-inline-start: 4.5rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 100%;
}
.row-title {
  width: 100%;
  line-height: 1.5rem;
  font-size: 16px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  flex: 1 1 auto;
}
.chat-title {
  min-width: 0;
  overflow: visible;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-list-title {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  flex: 1 1 auto;
}
.chat-title-right {
  position: relative;
  pointer-events: none;
  flex: 0 0 auto !important;

  display: flex;
  align-items: center;
  height: 1.25rem;
  margin-top: -0.4375rem;
  font-size: var(--font-size-12) !important;
  line-height: var(--line-height-12) !important;
}
